#wrapper{
    background-image: url("../images/pumpkin.png");
    background-size: 100px 100px;
}

li{
    text-decoration-color: orange;

}

main img{
    width: 0px;
    height: 0px;
}

h1{
    background-image: url("../images/ghost.png");
    width: 150px;
    height: 150px;
    background-size:150px 150px;
    position: relative;
    animation-name: animation;
    animation-duration: 7.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction:alternate;
    text-indent: -99999px;
}

@keyframes animation{
    0% {left: 200px; top: 0px;}
    10% {left: 850px; top: 50px;}
    20% {left: 100px; top: 83px;}
    30% {left: 50px; top: 170px;}
    40% {left: -150px; top: 92px;}
    50% {left: 500px; top: 600px;}
    60% {left: -50px; top: 32px;}
    70% {left: 1000px; top: 89px;}
    80% {left: 600px; top: 230px;}
    90% {left: 0px; top: 400px;}
    100% {left: 800px; top: -80px;}
}