body{
    background: black;
    font-family:Verdana, Tahoma, sans-serif;
}

#wrapper{
    background-image: linear-gradient(to top, #C5EFCB, black);
    display: grid;
    grid-template-rows: 100px 75px 1fr 400px 100px;
}

header{
    float:left;
    float:top;
    background: black;
    height: 100px;
    width: 100%;
    grid-row: 1/2;
}

#logo img{
    height: 100px;
    width: 100px;
    float:left;
}

nav{
    justify-items:center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
nav a{
    text-align: center;
    color: #C5EFCB;
    text-decoration: none;
    font-size: 30px;
    margin-top: 30px;
}

h1{
    text-align: center;
    color: #FB6107;
    grid-row: 2/3;

}

#bars{
    display: grid;
    gap: 25px;
    justify-items: center;
    grid-row: 3/4;

}

.bar{
    background-color: #706f6f;
    gap: 25px;
    height: 150px;
    width: 90%;
    color: #a9c5a0;
    border-radius: 15px;
    
}

.bar img{
    height: 100px;
    width: 100px;
    float: left;
    margin: 15px;
}

img{
    border-radius: 10px;
}

#extras{
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

table{
    height: 300px;
    width: 400px;
    border: black 5px solid;
    margin: 20px;
}

th{
    background: #C5EFCB;
    color: #FB6107;
}

tr{
    border:black 5px solid;
    background: black;
    color: white;
}
form{
    height: 300px;
    width: 400px;
    border: 5px black solid;
    display: grid;
    margin: 20px;

}


footer{
    grid-row: 5/6;
    background: black;
    color: #FB6107;
}